{% extends "base.html" %}
{% block conteudo %}
<div class="container-fluid bg-success d-flex justify-content-center align-items-center py-5">
    <h1 style="font-size: 3.4em;" class="text-white text-center">Você ou um parente possui algum distúrbio alimentar?</h1>
</div>

<div class="container-fluid py-4">
    <div class="container">
      <h1 class="text-center text-success">Pois saiba, niguém está sozinho.</h1>
      <p class="py-3" style="font-size: 1.2em;">
          Se você está passando por um momento difícil em relação à sua alimentação, corpo ou comportamento alimentar, saiba que você não está sozinho. Distúrbios alimentares como anorexia, bulimia, compulsão alimentar e outros podem afetar tanto a saúde física quanto emocional, mas é importante lembrar que existe ajuda disponível. Reconhecer que precisa de apoio é um primeiro passo corajoso e fundamental para a recuperação.
      </p>
      <h4 class="text-success">Por quê buscar ajuda profissional?</h4>
      <p class="py-2" style="font-size: 1.2em;">
          Se você está passando por um momento difícil em relação à sua alimentação, corpo ou comportamento alimentar, saiba que você não está sozinho. Distúrbios alimentares como anorexia, bulimia, compulsão alimentar e outros podem afetar tanto a saúde física quanto emocional, mas é importante lembrar que existe ajuda disponível. Reconhecer que precisa de apoio é um primeiro passo corajoso e fundamental para a recuperação.
      </p>
      <p class="py-2" style="font-size: 1.2em;">
          Há muitas formas de se buscar ajuda, mas sempre dependerá da sua disponibilidade e preferência. Algumas dessas formas são: Psicológos, Psiquiatras, Nutricionistas especializados, Grupos de apoio, SUS e serviços on-line.
      </p>
      <h4 class="text-success">Lembre-se, a recuperação é possível.</h4>
      <p class="py-2" style="font-size: 1.2em;">
          Reconhecer que precisa de ajuda e buscar apoio são passos importantes em direção à recuperação. Não tenha medo de conversar com alguém de confiança e procurar um profissional que possa orientar esse processo. Com o apoio certo, é possível encontrar equilíbrio e melhorar sua qualidade de vida.
      </p>
    </div>
  </div>


{% endblock conteudo %}
